doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Costume Party Detective
    link(rel="stylesheet", href="/css/globals.css")
    link(rel="stylesheet", href="/css/mainlanding.css")
  body
    .main-landing
      .join-card
        if gameSessionID
          h3 Room: #{gameSessionID}
          h2 Join Game
          img#qr-code
          script.
            const domain = window.location.hostname;
            const port = window.location.port;
            const gameSessionID = !{JSON.stringify(gameSessionID)};
            const qrUrl = `https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=http://${domain}:${port}/join?gameSessionID=${gameSessionID}`;
            document.getElementById("qr-code").src = qrUrl;

          form(action="/start-game", method="POST")
            button(type="submit" id="start-button") Start Game
        else
          form(action="/create-session", method="POST")
            button(type="submit" id="create-room-button") Create Game Room
